{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "jsxSingleQuote": true,
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-tailwindcss"]
}
